.sidebar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(100, 67, 67, 0.7);
    padding: 15px 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.menu-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.menu-links a {
    padding: 12px 25px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    background-color: #2d0f2a;
    margin-right: 15px;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu-links a:hover {
    background-color: #440f33;
    transform: translateY(-2px);
}

.logo-container {
    margin-left: 30px;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    overflow: hidden;
    flex-shrink: 0;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}



/* responsive */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .menu-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background: rgba(100,67,67,0.95);
        position: absolute;
        top: 100%;
        left: 0;
    }

    .menu-links.show {
        display: flex;
    }

    .menu-links a {
        margin: 10px;
        width: 90%;
        text-align: center;
    }

    .logo-container {
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }
}
